.captcha-container {
    background-color: $color-white;
    width: 25rem;
    position: absolute;
    left: 40%;
    top: 10%;
    border: 2px solid $color-black;
}
#captcha-header {
    cursor: move;
    font-family: "lores-12";
    font-size: 22px;
    border-bottom: 2px solid $color-black;
    border-top: 0px;
    button{
        border: 2px solid $color-black;
        height: 25px;
        width: 25px;
        line-height: 0px;
    }
}
.captcha-row-spacebetween {
    background-color: $color-white;
    color: $color-black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $color-black;
    button{
        font-family: "lores-12";
        font-size: 22px;
        height: 32px;
        background-color: $color-white;
        border: 2px solid $color-black;
    }
}
img {
    width: 100%;
    height: 100%;
}
.images {
    position: absolute;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 25rem;
}
.images input {
    display: none;
}
  
.images input[type="checkbox"]:Qchecked + label {
    border: 1px rgb(60, 236, 68) solid;
    background-color: rgba(255, 255, 255, 0.25);
}
.images label {
    width: 100%;
    height: 100%;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    cursor: pointer;
}
.images-Container {
    width: 25rem;
    height: 25rem;
}

  