$captchaSize: 20rem;
.captcha-container {
    background-color: $color-white;
    width: auto;
    position: absolute;
    left: 40%;
    top: 10%;
    border: $grid-gap-line2px;
    z-index: 50;
    img{
        padding: 0px;
        width: 100%;
        height: 100%;
    }
}
.captcha-message, .captcha-footer{
    font-family: PPNeueMontreal;
}
.captcha-message{
    padding: 0.5rem 1rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
}
.captcha-close{
    font-size: 22px;
    height: 19px;
    width: 19px;
    background-color: #fafafa;
    border: 2px solid #161615;
    cursor: pointer;
    line-height: 0px;
}
.captcha-header {
    cursor: move;
    font-family: "lores-12";
    font-size: 22px;
    border-bottom: $grid-gap-line2px;
    button{
        border: $grid-gap-line2px;
        height: 25px;
        width: 25px;
        line-height: 0px;
        cursor: pointer;
    }
    span{
        font-size: 1.25rem;
    }

    
}
.captcha-row-spacebetween {
    background-color: $color-white;
    color: $color-black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    button{
        font-family: "lores-12";
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 22px;
        height: 20px;
        width: 22px;
        background-color: $color-white;
        border: $grid-gap-line2px;
        cursor: pointer;
    }
}

.images {
    position: absolute;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: $captchaSize;
}
.images input {
    display: none;
}
  
.images input[type="checkbox"]:checked + label {
    border: 1px #222 solid;
    background-color: rgba(0, 0, 0, 0.3);
}
.images label {
    width: 100%;
    height: 100%;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    cursor: pointer;
}
.images-Container {
    height: $captchaSize;
}
.custom-checkbox input{
    height: 1rem;
    width: 1rem;
}
.captcha-footer{
    padding: 15px 10px;
    label{
        line-height: 1.4rem;
        font-size: 1.4rem;
        height: 1.5rem;
        margin-top: 4px;
    }
    button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 32px;
        width: auto;
        color: $color-black;
    }
}
.max-width{
    max-width: 20rem;
}