.main-menu{
    font-family: "lores-12";
    font-size: 1.25rem;
    width: 100%;
    background-color: $color-white;
    border: 2px solid $color-black;
    padding: 5px 0.5em;
    button{
        border: none;
        padding: 0px;
        background-color: white;
        font-family: "lores-12";
        font-size: 21px;
        cursor: pointer;
    }
    img{
        width: 26px;
    }
    .main-menu__search-icon{
        width: 17px;
        padding: 1px;
    }
    ul{
        display: flex;
        align-items:center;
        gap: 1rem;
    }
    ul:first-child{
        gap: 0.5rem;
        li:nth-child(2){
            margin-right: auto;
        }
        li:nth-child(3), li:nth-child(4){
            border: $grid-gap-line2px
        }
    }
    
    ul:nth-child(2){
        display: none;
        width: 100%;
        li:nth-child(7){
            margin-left: auto;
        }
        li:nth-child(7), li:nth-child(8){
            border: $grid-gap-line2px
        }
    }
}
.mobile-menu{
    display: none;

    font-family: "lores-12";
    font-size: 21px;
    width: 100%;
    background-color: $color-white;
    border: 2px solid $color-black;
    border-top: none;
    ul{
        li{
            padding: 3px 10px;
        }
    }
}
.show-menu{
    display: flex;
    flex-direction: column;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-menu{
        display: flex;
        img{
            display: block;
            width: 26px;
        }
        ul:nth-child(2){
            display: flex;
            margin: 0px 0px 0px 1rem;
        }
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        ul:first-child{
            :not(:first-child){
                display: none;
            }
        }
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}