.main-menu{
    display: flex;
    font-family: "lores-12";
    font-size: 21px;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-black;
    padding: 5px 1em;

    ul{
        display: flex;
        gap: 1em;
        align-items: center;
    }
    ul:last-child{
        margin-left: auto;
    }
    
}