.about-main {
    background-image: url("/media/px-bg.png");
    overflow: hidden;
}

.about-filler {
    width: 100%;
    height: 30vh;
    position: relative;

    &__popups {
        width: 50%;
        height: 150%;
        position: relative;
        float: right;
        transform: translate(0, -30%);
    }
}

.about-hero {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    grid-template-areas: "hero hero hero hero hero span""header header header header header header";
    background-color: $color-gray;
    border-bottom: $grid-gap-line;

    &__hero-img {
        grid-area: hero;
        padding: 1rem;
        border-right: $grid-gap-line;
        width: 100%;
    }

    &__hero-span {
        grid-area: span;
        position: relative;
    }

    .section-hero__content {
        grid-area: header;
        grid-template-areas: "content content content filler logo ";
        margin-top: 0 !important;

        p {
            grid-area: content;
        }

        &__media {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            grid-area: logo;
            border-right: $grid-gap-line;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: fit-content;
                padding: 1em;
                aspect-ratio: 1/1;
            }
        }

        &__filler {
            width: 100%;
            height: 100%;
            grid-area: filler;
            border-right: $grid-gap-line;
        }

    }
}

.about-container {
    font-family: PPNeueMontreal;

    p {
        font-family: PPNeueMontreal;
        padding: 0.5rem 0.8rem;
        font-size: $text-size-big;
        line-height: 2rem;
    }

    &__blocks {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);

        grid-template-columns: repeat(2, 1fr);

        > :nth-child(odd) {
            border-right: $grid-gap-line;
        }
    }

    &__block {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);

        grid-template-columns: repeat(3, 1fr);
        border-bottom: $grid-gap-line;

        &__media {
            grid-area: video;
            background-color: $color-gray;
            width: 100%;
            height: 100%;

            img {
                max-height: unset;
                height: 100%;
                width: auto;
                object-fit: cover;
            }
        }

        &__details {
            grid-area: details;
            background-color: $color-gray;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            &__name {
                padding-top: 1rem;
                padding-left: 0.75rem;
            }

            &__role {
                padding-bottom: 1rem;
                padding-left: 0.75rem;
            }
        }

        &__filler {
            grid-area: bg;
            height: 100%;
            position: relative;
        }
    }

    &__block-r {
        grid-template-areas: "video details bg";

        &__media {
            border-right: $grid-gap-line;

        }

        &__details {
            border-right: $grid-gap-line;
        }
    }

    &__block-l {
        grid-template-areas: "bg video details";

        &__media {
            border-right: $grid-gap-line;
        }


        &__filler {
            border-right: $grid-gap-line;

        }
    }

    &__thanks-to {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-areas:
            "thanks thanks name name name name"
            "filler filler name name name name"
            "filler2 filler2 filler2 more more more";

        > :nth-child(6) {
            border-right: none;
        }

        > :nth-child(10) {
            border-right: none;
        }

        &__person {
            //grid-area: name;
            background-color: $color-gray;

            min-height: 20em;

            border-right: $grid-gap-line;
            border-bottom: $grid-gap-line;

            &__details {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;

                p {
                    // font-size: $text-size-medium;                    
                    word-wrap: break-word;
                }

                &__name {
                    padding-top: 1rem;
                    padding-left: 0.75rem;
                }

                &__role {
                    padding-bottom: 1rem;
                    padding-left: 0.75rem;
                }
            }

        }

        &__heading {
            grid-area: thanks;
            background-color: $color-gray;
            padding-top: 1rem;
            padding-left: 0.75rem;
            border-bottom: $grid-gap-line;
            border-right: $grid-gap-line;
        }

        &__filler {
            grid-area: filler;
            width: 100%;
            height: 100%;
            border-right: $grid-gap-line;
        }

        &__filler-2 {
            grid-area: filler2;
            width: 100%;
            height: 100%;
            border-right: $grid-gap-line;
        }

        &__more {
            grid-area: more;
            width: 100%;
            height: 100%;
            background-color: $color-gray;

            p {
                font-size: $text-size-small;

            }
        }

    }

    &__concept {
        background-color: $color-gray;
        border-top: $grid-gap-line;
        border-bottom: $grid-gap-line;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "concept concept""text captchas";

        &__heading {
            padding-top: 2rem;
            padding-bottom: 1rem;
            padding-left: 0.75rem;
            border-bottom: $grid-gap-line;
            grid-area: concept;
        }

        &__text {
            grid-area: text;

            p {
                font-size: $text-size-small;
            }
        }

        &__captchas {
            grid-area: captchas;
            float: right;
            position: relative;
        }
    }

    &__socials {
        grid-template-columns: repeat(6, 1fr);
        display: grid;
        grid-template-areas: "notarobot notarobot notarobot notarobot notarobot socials";
        background-color: $color-gray;

        &__notarobot {
            grid-area: notarobot;
            padding: 1rem;
            border-right: $grid-gap-line;
            width: 100%;
        }

        &__social-panel {
            grid-area: socials;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__buttons {
                display: flex;
                flex-direction: column;

                button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: $grid-gap-line;
                    border-radius: 20px;
                    background-color: transparent;
                    font-family: PPNeueMontreal;
                    padding: 0.5rem 1.5rem;
                    font-size: $text-size-big;
                    line-height: 2rem;
                    border-bottom: $grid-gap-line2px;
                    border-top: $grid-gap-line2px;
                    float: right;
                    width: 100%;
                }

            }
        }
    }
}

@media (max-width: 992px) {

    .about-main {
        background-size: 150%;
    }

    .about-index {
        .section-hero__hero-img {
            margin-bottom: 15px;
        }
    }

    .about-hero {
        grid-template-areas: "hero hero hero hero hero hero""header header header header header header";

        &__hero-img {
            border-right: none;
        }
    }

    .section-hero__content__filler {
        display: none;
    }

    .about-container {
        p {
            font-size: $text-size-small;
            padding: 0.5rem 0.8rem;
        }

        &__blocks {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            > :nth-child(odd) {
                border-right: none;
            }
        }

        &__block {
            grid-template-columns: repeat(2, 1fr);
            border-left: none;
            border-right: none;

            &__filler {
                display: none;
            }

            &__media {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__details {
                border-left: none;
                border-right: none;

            }

            &:nth-child(odd) {
                grid-template-areas: "video details";

                >.about-container__block__media {
                    border-right: $grid-gap-line;

                }


            }

            &:nth-child(even) {
                grid-template-areas: "details video";

                >.about-container__block__media {
                    border-right: none;
                    border-left: none;
                }

                >.about-container__block__details {
                    border-right: $grid-gap-line;
                }

            }


        }

        &__thanks-to {
            // grid-template-columns: repeat(4, 1fr);
            // grid-template-areas: "thanks thanks thanks .""name name name name""filler filler filler filler""more more more more""filler2 filler2 filler2 filler2";
            display: flex;
            flex-wrap: wrap;

            &__person {
                width: 50%;
                min-height: 15em;
            }

            > :nth-child(odd) {
                border-right: none;
            }

            > :nth-last-child(3) {
                border-right: $grid-gap-line !important;
            }


            &__heading {
                width: 75%;
                padding: 2rem 0.75rem;
                border-right: $grid-gap-line !important;
            }


            &__more {
                border-top: $grid-gap-line;
                border-bottom: $grid-gap-line;

                margin: 12rem 0;
            }

            &__filler {
                flex-basis: 50%;
                border-bottom: $grid-gap-line;
                min-height: 15em;
            }

            &__filler-2 {
                display: none;
            }
        }

        &__concept {
            display: none;
        }

        &__socials {
            display: none;
        }

    }

    .section-hero__content__media {
        display: none !important;
    }

}