.about-main {
    background-image: url("/media/px-bg.png");
}

.about-filler {
    width: 100%;
    height: 30vh;
    position: relative;

    &__popups {
        width: 50%;
        height: 150%;
        position: relative;
        float: right;
        transform: translate(0, -30%);
    }
}

.about-hero {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    grid-template-areas: "hero hero hero hero hero span""header header header header header header";
    background-color: $color-gray;
    border-bottom: $grid-gap-line;

    &__hero-img {
        grid-area: hero;
        padding: 1rem;
        border-right: $grid-gap-line;
        width: 100%;
    }

    &__hero-span {
        grid-area: span;
        position: relative;
    }

    .section-hero__content {
        grid-area: header;
        grid-template-areas: "content content content span1 logo ";
        margin-top: 0 !important;

        p {
            grid-area: content;
        }

        &__media {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            grid-area: logo;
            border-left: $grid-gap-line;
            border-right: $grid-gap-line;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: fit-content;
                padding: 1em;
                aspect-ratio: 1/1;
            }
        }

        span:nth-child(2) {
            grid-area: span1;
        }
    }
}

.about-container {
    font-family: PPNeueMontreal;

    p {
        font-family: PPNeueMontreal;
        padding: 0.5rem 0.8rem;
        font-size: $text-size-big;
        line-height: 2rem;
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        > :nth-child(odd) {
            border-right: $grid-gap-line;
        }
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: $grid-gap-line;

        &__media {
            grid-area: video;
            background-color: $color-gray;
            width: 100%;
            height: 100%;

            img {
                max-height: unset;
                height: 100%;
                width: auto;
                object-fit: cover;
            }
        }

        &__details {
            grid-area: details;
            background-color: $color-gray;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            &__name {
                padding-top: 1rem;
                padding-left: 0.75rem;
            }

            &__role {
                padding-bottom: 1rem;
                padding-left: 0.75rem;
            }
        }

        &__filler {
            grid-area: bg;
            height: 100%;
            position: relative;
        }
    }

    &__block-r {
        grid-template-areas: "video details bg";

        &__media {
            border-right: $grid-gap-line;

        }

        &__details {
            border-right: $grid-gap-line;
        }
    }

    &__block-l {
        grid-template-areas: "bg video details";

        &__media {
            border-left: $grid-gap-line;
        }

        &__details {
            border-left: $grid-gap-line;
        }
    }

    &__thanks-to {
        display: grid;
        grid-template-columns: repeat(6, 2fr);
        grid-template-areas:
            "thanks thanks name name name name"
            "filler filler name name name name";

        &__heading {
            padding-top: 1rem;
            padding-left: 0.75rem;

        }

        &__person {
            //grid-area: name;
            background-color: $color-gray;

            min-height: 20em;

            border-left: $grid-gap-line;
            border-bottom: $grid-gap-line;

            &__details {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;

                &__name {
                    padding-top: 1rem;
                    padding-left: 0.75rem;
                }

                &__role {
                    padding-bottom: 1rem;
                    padding-left: 0.75rem;
                }
            }

        }

        &__heading {
            grid-area: thanks;
            background-color: $color-gray;
        }

        &__filler {
            grid-area: filler;
            width: 100%;
            height: 100%;
        }
    }

}

@media (max-width: 992px) {
    .about-index {
        .section-hero__hero-img {
            margin-bottom: 15px;
        }
    }

    .about-hero {
        grid-template-areas: "hero hero hero hero hero hero""header header header header header header";

        &__hero-img {
            border-right: none;
        }
    }

    .about-container {
        p {
            font-size: $text-size-small;
            padding: 0.5rem 0.8rem;
        }

        &__blocks {
            grid-template-columns: repeat(1, 1fr);

            > :nth-child(odd) {
                border-right: none;
            }
        }

        &__block {
            grid-template-columns: repeat(2, 1fr);
            border-left: none;
            border-right: none;

            &__filler {
                display: none;
            }

            &__media {
                img {
                    width: auto;
                    height: 100%;
                }
            }

            &__details {
                border-left: none;
                border-right: none;

            }

            &:nth-child(odd) {
                grid-template-areas: "video details";

                >.about-container__block__media {
                    border-right: $grid-gap-line;

                }


            }

            &:nth-child(even) {
                grid-template-areas: "details video";

                >.about-container__block__media {
                    border-right: none;
                    border-left: none;
                }

                >.about-container__block__details {
                    border-right: $grid-gap-line;
                }

            }
        }

    }

    .section-hero__content__media {
        display: none !important;
    }

    .about-filler {
        &__popups {
            width: 100%;
            height: 100%;
            position: relative;
            float: unset;
            transform: unset;
        }
    }
}