
body{
  background-color: $color-gray;
  cursor: url("/media/Cursor.png"), auto;
}
main{
  position: relative;
  min-height: 60vh;
}
.max-container-width {
  max-width: 1280px;
  margin: 2em auto;
}

a {
  text-decoration: none;
  color: black;
}
h2{
  font-size: $h2-size-small;
}
h3{
  font-size: $h3-size-big;
  line-height: $h3-linehight-big
}
@media (max-width: 1540px) {
  h3{
    font-size: $h3-size-medium;
    line-height: $h3-linehight-medium;
  }
}
@media (max-width: 768px) {
  h3{
    font-size: $h3-size-small;
    line-height: $h3-linehight-small;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
.dropdown-isup{
  transform: rotate(180deg);
}
.old-btn{
  border: $grid-gap-line2px;
  background-color: $color-white;
  font-family: "lores-12";
  padding: 2px;
  cursor: pointer;
}
.delete-btn{
  background-color: #df7070;
  width: 4rem;
  margin-left: auto;
}
.save-btn{
  background-color: #aff7a5;
  width: 5rem;
}
form {
  display: grid;
  max-width: 45rem;
  margin: 0 auto;
  gap: 0.5rem;
  grid-template-columns: auto auto;
}
.span-2-col {
  grid-column: span 2;
}

.form-group-wrapper {
  display: grid;
  gap: 0.2rem;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 0.5em;
}

.filler-pixels{
  object-fit: none;
  height: 100%;
  width: 100%;
  background-image: url("/media/px-bg.png");
  overflow: hidden;
}
.pushleft2rem{
  margin-left: 3.5rem;
}