#popupfiller{
    position: relative;
    width: 100%;
}

.section-hero{
    &__hero-img{
        padding: 1rem;
    }
    &__content{
        outline: $grid-gap-line;
        margin-top: 0.5rem;
        p{
            font-family: PPNeueMontreal;
            padding: 0.8rem 1.8rem;
            font-size: $text-size-big;
            line-height: $text-linehight-big;
        }
        img{
            display: none;
            width: 233px;
            height: fit-content;
            align-self: center;
        }
    }
}
@media (max-width: 768px) {
    .section-hero{
        &__content{
            p{
                font-size: $text-size-small;
                padding: 0.8rem 0.8rem;
                line-height: $text-linehight-small;
            }
        }
    }
}
.section-schedule{
    font-family: PPNeueMontreal;
    img{
        max-height: 27rem;
    }
    &__table{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        *{
            border-right: $grid-gap-line;
            border-bottom: $grid-gap-line;
            padding: 0.7rem;
        }
        h3:nth-child(3n+1) {
            grid-column: span 2;
        }
    }
    &__table-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        *{
            height: 9rem;
            border-right: $grid-gap-line;
            border-bottom: $grid-gap-line;
            padding: 1rem;
        }
    }
    &__layout{
        display:flex;
        border-bottom: $grid-gap-line;
        min-height: 20rem;
        &__information{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                font-size: 1rem;
                line-height: 1.3rem;
                padding: 0.5rem;
                font-size: $text-size-big;
                line-height: $text-linehight-big;
            }
            
            ul{
                margin-top: -7px;
            }
            li{
                border: $grid-gap-line;
                font-size: $text-size-big;
                line-height: $text-linehight-big;
                margin-bottom: -2px;
                border-radius: 16px;
                padding: 7px 15px;
            }
            
        }
        &__information:first-child{
            border-right: $grid-gap-line;
        }
    }
}

@media (max-width: 768px) {
    .section-schedule{
        &__layout{
            &__information{
                p, li{
                    font-size: $text-size-small;
                    line-height: $text-linehight-small;
                }
            }
        }
    }
}
.section-konzept{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: PPNeueMontreal;
    margin-top: -3px;
    &__header, &__message{
        grid-column: span 3;
        border-right: $grid-gap-line;
    }
    &__header{
        padding: 0.5rem 0rem 1rem 1rem;
        border-top: $grid-gap-line;
        border-bottom: $grid-gap-line;
    }
    &__message{
        grid-row: 2;
        padding: 0.8rem 1.8rem;
        font-size: $text-size-medium;
        line-height: $text-linehight-medium;
    }
    &__img-pixles{
        grid-row: span 2;
        border-top: none;
    }

    &__information{
        grid-column: 6;
        li{
            border: 1px solid $color-black;
            border-radius: 5px;
            padding: 3px;
        }
    }
}
@media (max-width: 768px) {
    .section-konzept{
        &__message{
            padding: 0.8rem 0.8rem;
            font-size: $text-size-small;
            line-height: $text-linehight-small;
        }
    }
}
.section__captchas{
    width: 100%;
    &-38rem{
        height: 38rem;
        border-top: $grid-gap-line;
    }
}
.section__socials{
    display: grid;
    font-family: PPNeueMontreal;
    grid-template-areas: 
        "pxbg list"
        "image image";
    border-top: $grid-gap-line;
    
    .filler-pixels{
        grid-area: pxbg;
        border-right: $grid-gap-line;
    }
    &__logo{
        grid-area: image;
        border-top: $grid-gap-line;
    }
    &__information{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: list;
        min-height: 12rem;
        p{
            min-height: 10rem;
            font-size: 1rem;
            line-height: 1.3rem;
            padding: 0.5rem;
            font-size: $text-size-big;
            line-height: $text-linehight-big;
        }
        p:first-child{
            border-right: $grid-gap-line;
        }
        ul{
            margin-top: -7px;
        }
        li{
            border: $grid-gap-line;
            font-size: $text-size-big;
            line-height: $text-linehight-big;
            margin-bottom: -2px;
            margin-left: -2px;
            border-radius: 16px;
            padding: 7px 15px;
        }
        li:first-child{
            border-top: $grid-gap-line;
        }
    }
}
@media (max-width: 768px) {
    .section__socials{
        &__information{
            p, li{
                font-size: $text-size-small;
                line-height: $text-linehight-small;
            }
        }
    }
}
.section__moreStudyInfo{
    font-family: PPNeueMontreal;
    border-bottom: $grid-gap-line;
    position: relative;
    &__splited{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: $grid-gap-line;
        p{
            font-size: 1rem;
            line-height: 1.3rem;
            padding: 0.5rem;
        }
        span{
            width: 100%;
            height: 6rem;
        }
        :first-child{
            border-right: $grid-gap-line;
        }
    }
}
@media (max-width: 768px) {
    .section__moreStudyInfo{
        &__splited{
            p{
                font-size: $text-size-small;
                line-height: $text-linehight-small;
            }
        }
    }
}
.section__studies{
    font-family: PPNeueMontreal;
    position: relative;
    .show-study{
        display: block;
        margin-top: 1rem;
        line-height: 1.5rem;
        margin: 0.5rem 0.5rem 1.5rem 0.5rem;
    }
    
    &__part p{
        display: none;
        padding: 0px;
        font-size: $text-size-medium;
        line-height: $text-linehight-medium;
    }
    &__part:nth-child(2), &__part:nth-child(3){
        border-top: $grid-gap-line;
    }
    &__part:nth-child(1), &__part:nth-child(2){
        height: 30%;
    }
    &__part:nth-child(3){
        height: 40%;
    }
    &__part__header{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        span{
            display: block;
            width: 22px;
            height: 22px;
            background-image: url("/media/icon-dropdown.svg");
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    &__filler{
        display: none;
    }
}
.section__captchas-38rem{
    display: none;
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section-hero{
        &__content{
            display:grid;
            grid-template-columns: repeat(6, 1fr);
            p{
                grid-column: span 3;
                border-right: $grid-gap-line;
            }
            img{
                display: block;
                padding: 0.5rem;
                margin: 0px auto;
                height: fit-content;
            }
            span:first-of-type {
                border-right: $grid-gap-line;
            }
            span:last-child {
                border-left: $grid-gap-line;
            }
        }
    }
    .section-schedule{
        display: grid;
        grid-template-areas: 
            "times times times times . infos"
            "empty empty filler filler filler infos";
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr 1fr;
        img{
            grid-area: filler;
        }
        &__table{
            grid-area: times;
        }
        &__span{
            border-bottom: $grid-gap-line;
        }
        &__table-4{
            grid-area: empty;
            border-right: $grid-gap-line;
            span{
                height:100%;
            }
            span:nth-child(1){
                border: none;
            }
            span:nth-child(2){
                display: block;
                border-bottom: none;
            }
            span:nth-child(n+3){
                display: none;
            }
        }
        &__layout{
            grid-area: infos;
            justify-content: space-between;
            flex-direction: column;
            border-bottom: none;
            &__information{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-bottom: $grid-gap-line;
                border-left: $grid-gap-line;
                p{
                    border-right:none;
                }
                p:first-child{
                    border-right:none;
                }
            }
        }
    }
    .section-konzept{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 5fr;
        &__img-pixles{
            border-top: $grid-gap-line;
        }
        img{
            grid-column: span 3;
        }
        h2{
            padding-top: 1.5rem;
        }
    }
    
    .section__moreStudyInfo{
        &__splited{
            display: none;
        }
    }
    .section__socials{
        grid-template-columns: 5fr 1fr;
        grid-template-areas: "image list";
        
        .filler-pixels{
            display: none;
        }
        &__logo{
            border-top: none;
        }
        &__information{
            border-left: $grid-gap-line;
        }
    }
    .section__studies{
        display: grid;
        grid-template-columns: 5fr 1fr;
        &__part{
            display: grid;
            grid-template-columns: 2fr 3fr;
            padding: 0px;
            p{
                display: block;
                padding: 1rem;
            }
            span{
                display: none;
            }
            &__header{
                border-right: $grid-gap-line;
            }
        }
        &__filler{
            display: grid;
            grid-template-areas: "empty empty pxbg pxbg pxbg pxbg";
            grid-column: span 6;
            min-height: 10rem;
            max-height: 30rem;
            .filler-pixels{
                grid-area: pxbg;
                border-left: $grid-gap-line;
            }
        }
        &__collection{
            border-top: $grid-gap-line;
        }
        .section__socials{
            border-left: $grid-gap-line;
            grid-template-areas: "pxbg pxbg"
                                  "list list";    
            border-top: none;

            .filler-pixels{
                display: block;
            }
            &__information{
                border-top: $grid-gap-line;
                border-left: none;
            }
        }
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1230px) {
    .section-konzept__img-pixles{
        max-height: 36rem;
    }
}