.section-hero{
    &__content{
        outline: $grid-gap-line;
        margin-top: 0.5rem;
        p{
            font-family: PPNeueMontreal;
            padding: 1rem 0.5rem;
        }
        img{
            display: none;
            width: 233px;
        }
    }
}
.section-schedule{
    font-family: PPNeueMontreal;
    img{
        height: 10rem;
    }
    &__table{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        *{
            border-right: $grid-gap-line;
            border-bottom: $grid-gap-line;
            padding: 1rem;
        }
        h3:nth-child(3n+1) {
            grid-column: span 2;
        }
    }
    &__table-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        *{
            height: 9rem;
            border-right: $grid-gap-line;
            border-bottom: $grid-gap-line;
            padding: 1rem;
        }
    }
    &__layout{
        display:flex;
        border-bottom: $grid-gap-line;
        &__information{
            width: 50%;
            p{
                height: 7rem;
                font-size: 1rem;
                line-height: 1.3rem;
                padding: 0.5rem;
            }
            p:first-child{
                border-right: $grid-gap-line;
            }
            ul{
                margin-top: -7px;
            }
            li{
                border: $grid-gap-line;
                border-top: none;
                border-radius: 10px;
                padding: 3px 10px;
            }
            li:first-child{
                border-top: $grid-gap-line;
            }
            li:last-child{
                border-bottom: none;
            }
        }
    }
}
.section-konzept{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: PPNeueMontreal;
    h2, p{
        grid-column: span 3;
        border-right: $grid-gap-line;
    }
    h2{
        padding: 0.5rem 0rem 1rem 1rem;
        border-top: $grid-gap-line;
        border-bottom: $grid-gap-line;
    }
    p{
        grid-row: 2;
        padding: 1rem 0.5rem;
    }
    &__img-pixles{
        grid-row: span 2;
        border-top: none;
    }

    &__information{
        grid-column: 6;
        li{
            border: 1px solid $color-black;
            border-radius: 5px;
            padding: 3px;
        }
    }
}
.section__captchas{
    width: 100%;
    &-38rem{
        height: 38rem;
        border-top: $grid-gap-line;
    }
}
.section__socials{
    display: grid;
    font-family: PPNeueMontreal;
    grid-template-areas: 
        "pxbg list"
        "image image";
    border-top: $grid-gap-line;
    
    .filler-pixels{
        height: 100%;
        grid-area: pxbg;
        border-right: $grid-gap-line;
    }
    &__logo{
        grid-area: image;
        border-top: $grid-gap-line;
    }
    &__information{
        position: relative;
        grid-area: list;
        min-height: 12rem;
        p{
            height: 7rem;
            font-size: 1rem;
            line-height: 1.3rem;
            padding: 0.5rem;
        }
        ul{
            margin-top: -7px;
            bottom: 0px;
            position: absolute;
            width: 100%;
        }
        li{
            border: 1px solid $color-black;
            border-top: none;
            border-radius: 10px;
            padding: 3px 10px;
        }
        li:first-child{
            border-top: 1px solid $color-black;
        }
        li:last-child{
            border-bottom: none;
        }
    }
}
.section__moreStudyInfo{
    font-family: PPNeueMontreal;
    border-bottom: $grid-gap-line;
    &__splited{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: $grid-gap-line;
        p{
            font-size: 1rem;
            line-height: 1.3rem;
            padding: 0.5rem;
        }
        span{
            width: 100%;
            height: 6rem;
        }
        :first-child{
            border-right: $grid-gap-line;
        }
    }
}
.section__studies{
    font-family: PPNeueMontreal;
    .show-study{
        display: block;
    }
    &__part p{
        display: none;
    }
    &__part:nth-child(2), &__part:nth-child(3){
        border-top: $grid-gap-line;
    }
    &__part__header{
        display: flex;
        justify-content: space-between;
        span{
            display: block;
            width: 22px;
            height: 22px;
            background-image: url("media/icon-dropdown.png");
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    &__filler{
        display: none;
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section-hero{
        &__content{
            display:grid;
            grid-template-columns: repeat(6, 1fr);
            p{
                grid-column: span 3;
                border-right: $grid-gap-line;
            }
            img{
                display: block;
                padding: 0.5rem;
            }
            span:first-of-type {
                border-right: $grid-gap-line;
            }
            span:last-child {
                border-left: $grid-gap-line;
            }
        }
    }
    .section-schedule{
        display: grid;
        grid-template-areas: 
            "times times times times . infos"
            "empty empty filler filler filler infos";
        grid-template-columns: repeat(6,1fr);
        img{
            grid-area: filler;
        }
        &__table{
            grid-area: times;
        }
        &__span{
            border-bottom: $grid-gap-line;
        }
        &__table-4{
            grid-area: empty;
            border-right: $grid-gap-line;
            span{
                height:100%;
            }
            span:nth-child(1){
                border: none;
            }
            span:nth-child(2){
                display: block;
                border-bottom: none;
            }
            span:nth-child(n+3){
                display: none;
            }
        }
        &__layout{
            grid-area: infos;
            flex-direction: column;
            border-bottom: none;
            &__information{
                width: 100%;
                border-bottom: $grid-gap-line;
                border-left: $grid-gap-line;
                p{
                    border-right:none;
                }
                p:first-child{
                    border-right:none;
                }
            }
        }
    }
    .section-konzept{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 5fr;
        &__img-pixles{
            border-top: $grid-gap-line;
        }
        img{
            grid-column: span 3;
        }
        h2{
            padding-top: 1.5rem;
        }
    }
    .section__captchas-38rem{
        display: none;
    }
    .section__moreStudyInfo{
        &__splited{
            display: none;
        }
    }
    .section__socials{
        grid-template-columns: 5fr 1fr;
        grid-template-areas: "image list";
        
        .filler-pixels{
            display: none;
        }
        &__logo{
            border-top: none;
        }
        &__information{
            border-left: $grid-gap-line;
        }
    }
    .section__studies{
        display: grid;
        grid-template-columns: 5fr 1fr;
        &__part{
            p{
                display: block;
            }
            span{
                display: none;
            }
        }
        &__filler{
            display: grid;
            grid-template-areas: "empty empty pxbg pxbg pxbg pxbg";
            grid-column: span 6;
            min-height: 10rem;
            .filler-pixels{
                grid-area: pxbg;
                border-left: $grid-gap-line;
            }
        }
        &__collection{
            border-top: $grid-gap-line;
        }
        .section__socials{
            border-left: $grid-gap-line;
            grid-template-areas: "pxbg pxbg"
                                  "list list";    
            border-top: none;

            .filler-pixels{
                display: block;
            }
            &__information{
                border-top: $grid-gap-line;
                border-left: none;
            }
        }
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}