.section-hero{
    &__content{
        outline: $grid-gap-line;
        padding: 1rem 0.5rem;
        margin-top: 0.5rem;
        p{
            font-family: PPNeueMontreal;
            line-height: 1.2rem;
        }
        img{
            display: none;
        }
    }
}
.section-schedule{
    font-family: PPNeueMontreal;
    line-height: 1.2rem;
    &__table{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
    &__information{
        grid-column: 6;
        grid-row: span 3;
        &:first-child{
            grid-row: 1;
        }
        &:last-child{
            grid-row: 2;
        }
        li{
            border: 1px solid $color-black;
            border-radius: 5px;
            padding: 3px;
        }
    }
    img{
        grid-column: 3/6;
    }
}
.section-konzept{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    h2, p, img{
        grid-column: span 3;
    }
    p{
        grid-row: 2;
    }
    &__img-pixles{
        grid-row: span 2;
    }

    &__information{
        grid-column: 6;
        li{
            border: 1px solid $color-black;
            border-radius: 5px;
            padding: 3px;
        }
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}