@import "reset.scss";
@import "variables.scss";
@import "base.scss";
@import "font_lores.scss";

@import "_nav.scss";
@import "_captcha.scss";
@import "_checkbox.scss";

@import "home.scss";
@import "player.scss";
