@import "reset.scss";
@import "variables.scss";
@import "base.scss";
@import "font_lores.scss";

@import "_nav.scss";
@import "_footer.scss";
@import "_captcha.scss";

@import "home.scss";
@import "projects.scss";
@import "program.scss";
@import "player.scss";
