// Colors
$color-white: #fafafa;
$color-gray: #D1D1D1;
$color-black: #161615; 

// font
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('fonts/PPNeueMontreal-Medium.woff');
}

// font sizes
$h1-size: 3rem;
$h1-size-small: 1.75rem;
$h2-size-small: 1.60rem;
$h3-size-small: 1.45rem;

// Borders
$bRadius: 3px;

$grid-gap-line: 3px solid $color-black;
