// Colors
$color-white: #fafafa;
$color-gray: #D1D1D1;
$color-black: #161615; 

// font
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('fonts/PPNeueMontreal-Medium.woff');
}

// font sizes
$h1-size: 3rem;
$h1-size-small: 1.75rem;
$h2-size-small: 1.60rem;
$h3-size-big: 70px;
$h3-linehight-big: 70px;

$h3-size-small: 26px;
$h3-linehight-small: 30px;

$h3-size-medium: 45px;
$h3-linehight-medium: 50px;

$text-size-big: 26px;
$text-linehight-big: 2rem;

$text-size-medium: 21px;
$text-linehight-medium: 1.7rem;

$text-size-small: 18px;
$text-linehight-small: 24px;

// Borders
$bRadius: 3px;

$grid-gap-line: 3px solid $color-black;
$grid-gap-line2px: 2px solid $color-black;